body {
    background-color: rgb(177, 209, 220);
    font-family: Arial, sans-serif;
    margin: 0;  
    padding: 0;
}

h1 {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0;
    margin: 20px 20px 0 20px;
    font-size: 30px;
    font-weight: bold;
}

nav {
    background-color: rgb(156, 155, 155);
    text-align: center;
    margin: 0px 20px 0px 20px;
    padding: 10px ;
}

h2 {
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 28px;
}

p {
    color: rgb(116, 115, 115);
    font-size: 18px;
    margin: 0 20px 20px 20px;
    line-height: 1.6;
    text-align: center;
}

.red-text {
    color: rgb(197, 51, 51);
}

a {
    color: rgb(249, 247, 247);
    text-decoration: none;
    margin: 0 20px;
    font-size: 16px;
}

#active-link {
    font-weight: bold;
    color:rgb(197, 51, 51)
}

